<div class="p-grid root">
  <div class="p-col-12 header">
    <h1>Angular App</h1>
  </div>
  <div class="p-col-12 topnav">
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a> | 
        <a routerLink="/about" routerLinkActive="active">About</a> | 
        <a routerLink="/animals" routerLinkActive="active">Animals</a>
    </nav>
  </div>
  <div class="p-col-12 content">
    <router-outlet></router-outlet>
  </div>
  <div class="p-col-12 footer">
    <span>Footer</span>
  </div>
</div>