.root {
    height: 100%;
}

.header {
    background-color: aquamarine;
    height: 80px;
}

.topnav {
    background-color: brown;
    height: 30px;
}

.content {
    background-color: cornflowerblue;
    height: calc(100% - 160px);
    overflow: auto;
}

.footer {
    background-color: darkslategrey;
    height: 50px;
}